/Einstellungen.class
/Gesamtdatensatz.class
/Spiel.class
/Spieler.class
/Spielfeld.class
/Zug.class
/package-info.class
/Spieldaten.class
/Spielfeld$FigurenComparator.class
/RochadenZug.class
/enPassantZug.class
/EnPassantZug.class
/Statistik.class
/Highscore.class
/Highscore$SpielerComparator.class
/Computerspieler.class
/Gesamtdatensatz$SpielerComparator.class
